$black-dark: #000000;
$black-clear: #272727;
$black-medium: #141414;

$white-milk: #FFFAFA;
$white-clear: #FFFBFB;
$white-medium: #E9E4E4;

$pink-first: #B31055;
$pink-clear: #BB2062;
$pink-dark: #A60C4D;

$yellow-dark: #E9D500;
$yellow-clear: #FFF027;
$yellow-medium: #FFE600;

